<body class="index">
  {{> header}}
  <div id="main">
    <div id="callToAction">
      <img src="//s3.amazonaws.com/aws-sensor-temperature/logo_header.png" class="logo" />
        <h6 class="    subdailytech white hover" title="Social Data &amp; Statistics ">
                        <a class="cover  ">SOCIOLOGY TOMORROW!</a>
                   </h6>
                  <h6 class="            subdailytech white hover">
                    <a class="cover steel">WEB DEV &nbsp; AFFAIRS &nbsp; </a>
                  </h6> 
                  <h6 class=" subdailytech white" title="Machine Learning"> 
                    <a class="cover ">A.I.NOW</a>
                  </h6>
                  <h6 class="subdailytech white hover" title="About Blockchain Technologies in our Daily Lives">
                    <a class="cover steel">QUANTUM DATA</a>
                  </h6>
                  <h6 class="subdailytech white hover" title="About Blockchain Technologies in our Daily Lives">
                    <a class="cover">MUSING BLOCKCHAIN</a>
                  </h6> 
      <div class="make-pizza-button"><h4>
        <a href="/make/pizza">Daily Filter</a> </h4>
      </div>
    </div>
    <div id="more">
      <h2>Recent Objects</h2>
      {{> pizzas}}
    </div>
    {{> footer}}
  </div>
</body>
