<header>
  <img class="background" src="//s3.amazonaws.com/aws-sensor-temperature/header.png" />
  <a href="/"><img class="logo" src="//s3.amazonaws.com/aws-sensor-temperature/logo_header.png" /></a>
  <div class="user">
    {{#if auth.isAuthenticated}}
    <h4>
      Hi <a href="/user">{{auth.credentials.user.username}}</a>!&nbsp;&nbsp;
      <a href="/logout">Logout</a>
    </h4>  
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </div>
</header>
